<!--Start Gallery-->
<div class="gallery-wrap" id="portfolio">
  <div class="wrap">
    <div class="recent-works-head">
      <h3>Gallery</h3>
      <p>Browse our collection of web tutorials</p>
    </div>
    <div class="gallery">
      <div ng-show="spinner" class="txt-center"><i class="fa fa-3x fa-compass fa-spin" style="color: white"></i></div>
      <table ng-hide="spinner">
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Hype</th>
          <th>Views</th>
        </tr>
        <tr class="klick" ng-repeat='klick in klicks'>
          <td class="td-desc"><a href='{{ klick.linkUrl }}'> {{ klick.description }} </a></td>
          <td class="td-date">{{ klick.createdAt | date:'M/d/yyyy' }}</td>
          <td class="td-hype txt-center">{{ klick.hype }}</td>
          <td class="td-views txt-center">{{ klick.views }}</td>
        </tr>
      </table>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!--End Gallery-->