<!-- Header -->
<section id="header">
  <header>
    <h1>Klickr.io</h1>
    <p>Make and share web tutorials</p>
    <br>
    <a href="#gallery" class="button style1 scrolly scrolly-centered">Gallery</a>
    <a href="#install" class="button style1 scrolly scrolly-centered">Install Chrome Extension</a>
  </header>
  <footer>
    <a href="#banner" class="button style2 scrolly scrolly-centered">Try It Out</a>
  </footer>
</section>

<!-- Made At Hack Reactor Ribbon -->
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="http://www.hackreactor.com">Made at Hack Reactor</a>
  </div>
</div>

<!-- Banner -->
<section id="banner">
  <header>
    <h2>HERE'S HOW</h2>
  </header>
  <p>Ever tried teaching someone how to complete a task on a website?</br>Ever spent hours following instructions on the web wishing there was a way to “show” you how it should be done? Look no further - Klickr.io offers an effortless way to record a website how-to that can be shared and replayed on any Chrome browser! We’re not talking video screencasts. We’re talking about a personalized in-situ playback.</p>
  <footer>
    <a href="#first" class="button style2 scrolly">Act on this message</a>
  </footer>
</section>

<!-- Feature 1 -->
<article id="first" class="container box style1 right">
  <a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="../images/pic01.jpg" alt="" /></a>
  <div class="inner">
    <header>
      <h2>Lorem ipsum<br/>
      dolor sit amet</h2>
    </header>
    <p>Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.</p>
  </div>
</article>

<!-- Feature 2 -->
<article class="container box style1 left">
  <a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="../images/pic02.jpg" alt="" /></a>
  <div class="inner">
    <header>
      <h2>Mollis posuere<br />
      lectus lacus</h2>
    </header>
    <p>Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.</p>
  </div>
</article>

<!-- Portfolio -->
<article class="container box style2">
  <header>
    <h2>Magnis parturient</h2>
    <p>Justo phasellus et aenean dignissim<br />
    placerat cubilia purus lectus.</p>
  </header>
  <div class="inner gallery">
    <div class="row flush">
      <div class="3u"><a href="../images/fulls/01.jpg" class="image full"><img src="../images/thumbs/01.jpg" alt="" title="Ad infinitum" /></a></div>
      <div class="3u"><a href="../images/fulls/02.jpg" class="image full"><img src="../images/thumbs/02.jpg" alt="" title="Dressed in Clarity" /></a></div>
      <div class="3u"><a href="../images/fulls/03.jpg" class="image full"><img src="../images/thumbs/03.jpg" alt="" title="Raven" /></a></div>
      <div class="3u"><a href="../images/fulls/04.jpg" class="image full"><img src="../images/thumbs/04.jpg" alt="" title="I'll have a cup of Disneyland, please" /></a></div>
    </div>
    <div class="row flush">
      <div class="3u"><a href="../images/fulls/05.jpg" class="image full"><img src="../images/thumbs/05.jpg" alt="" title="Cherish" /></a></div>
      <div class="3u"><a href="../images/fulls/06.jpg" class="image full"><img src="../images/thumbs/06.jpg" alt="" title="Different." /></a></div>
      <div class="3u"><a href="../images/fulls/07.jpg" class="image full"><img src="../images/thumbs/07.jpg" alt="" title="History was made here" /></a></div>
      <div class="3u"><a href="../images/fulls/08.jpg" class="image full"><img src="../images/thumbs/08.jpg" alt="" title="People come and go and walk away" /></a></div>
    </div>
  </div>
</article>

<!-- Contact -->
<article class="container box style3">
  <header>
    <h2>Contact</h2>
    <p>We'd love to hear from you.</p>
  </header>
  <form>
    <div class="row half">
      <div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
      <div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
    </div>
    <div class="row half">
      <div class="12u">
        <textarea name="message" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <ul class="actions">
          <li><a href="#" class="button form">Send Message</a></li>
        </ul>
      </div>
    </div>
  </form>
</article>

<section id="footer">
<ul class="icons">
  <li><a href="#" class="fa fa-twitter solo"></a></li>
  <li><a href="#" class="fa fa-facebook solo"></a></li>
  <li><a href="#" class="fa fa-google-plus solo"></a></li>
  <li><a href="#" class="fa fa-pinterest solo"></a></li>
  <li><a href="#" class="fa fa-dribbble solo"></a></li>
  <li><a href="#" class="fa fa-linkedin solo"></a></li>
</ul>
<div class="copyright">
  <ul class="menu">
    <li>&copy; 2014 Klickr</li>
    <li>Team: <a href="http://www.penguinhustle.com/blog">Justin</a>, <a href="https://github.com/lramsey">Luke</a>, <a href="https://github.com/stephandacosta">Stephan</a>, <a href="https://medium.com/@fay_jai">Willson</a></li>
  </ul>
</div>
</section>